<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

     <!--MAIN-->
   <main class="container">
    <!--Título-->
    <div class="row my-4">
      <div class="col">
        <h1 class="fw-bold">Incidencias sin asignar</h1>
      </div>

      <!--Buscador-->
      <form class="row my-3" method="get">
          <div class="col-md-6">
              <input type="text" name="palabraClave" id="palabraClave" class="form-control" placeholder="Buscar incidencias...">
          </div> 
          <div class="col-md-2">
              <button type="submit" class="btn btn-primary w-100">Buscar</button>
          </div>
      </form>
    </div>

        <!--CARDS-->
        <div class="row">
          <!--columna 1-->
          <div *ngFor="let incidencia of incidencias" class="col-md-5 mb-4">
  
            <!--inicio card-->
              <div class="card w-md mx-4 mt-2" id="item-1">
                <!--card header-->
                  <div class="card-header bg-danger d-flex justify-content-between" style="height: 50px;">
                          <div class="d-flex">
                              <p class="text-light mx-2 mt-2 fs-6">{{incidencia.prioridad}}</p>
                              <p class="text-light mx-3 mt-2 fs-6">{{incidencia.fecha}}</p>
                          </div>     
                    </div>

                    <!--card body-->
                    <div class="card-body">
                        <div class="row">
                              <img src="img/margarita.jpg" alt="" class="img-fluid">   
                        </div>
                            
                        <div class="row">
                          <h5>{{incidencia.titulo}}</h5>
                          <div class="col">
                            <p class="fs-6">Por: {{ incidencia.empleado.username }}</p>
                            <p class="fs-6">Técnico: Sin asignar</p>      
                          </div>

                          <div class="col">
                            <p class="fs-6">Lugar: {{incidencia.lugar}}</p>
                            <p class="fs-6">Estado: {{incidencia.estado}}</p>
                            <p class="fs-6">Categoría: {{incidencia.categoria}}</p>
                          </div>
                        </div>
                    </div>

                    <!--card footer-->
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button (click)="asignarIncidencia(incidencia.id!)" class="btn btn-primary">Asignar a mí</button>
                        </div>
                    </div>
              </div>
              
        </div>
            <!--fin card-->
      </div>
 </main>
</body>
</html>
