

* {
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    background-color: #004A59;
}

.bg-primario {
    background-color: #004A59;
}

.bg-gradiente {
    background: linear-gradient(180deg, #F16744, #027184);
}

.text-azul{
    color: #027184;
}

.text-primario{
    color: #004A59;
}

.text-naranja{
    color: #D45A20;
}

/*Botones*/
.btn-primario {
    background-color: #D45A20;
    color: white;
}

/*Hover*/
.btn-primario:hover {
    background-color: #bf4e1c;
    color: white;
}

/*Inputs login*/
.form-control-oscuro {
    background-color: #027184;
    border: none;
    color: white;
}

.bg-form {
    background-color: #d4d4d4;
}

.micard-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.micard-users p {
    padding: 0;
    margin: 0;
}

.divider {
    background-color: #004A59;
    height: 1px;
}

.minavbar {
    border-bottom: 1px solid white;
}

.minavbar-container {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
}

.nav-item:hover {

    background-color: #027184;
    transition: 0.7s;
    border-radius: 5px;
}

.dropdown-menu a:hover {
    background-color: #027184;
    transition: 0.7s;
    color: white;
}

.minavbar-container img:hover {
    background-color: #027184;
    transition: 0.7s;
    border-radius: 50%;
}


